.o_list_view {
    td.o_many2one_cell {
        a {
            margin-right: 0.5em;
            display: none;
        }

        &:hover a {
            display: inherit;
        }

        span {
            white-space: nowrap;
        }
    }
}
