.o_kanban_view {

    .oe_kanban_card,
    .o_kanban_record {
        .o_field_many2one_avatar {
            img.o_m2o_avatar {
                margin-right: 0;
            }
        }
    }

}


.o_field_widget {

    // Many2OneAvatar
    &.o_field_many2one_avatar {
        >img.o_m2o_avatar {
            border-radius: 50%;
            width: 19px;
            height: 19px;
            object-fit: cover;
            margin-right: 4px;
        }
    }
}
